<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>

<div style="color: green">
  <%= flash[:notice] %>
</div>
<div style="color: red">
  <%= flash[:error] %>
</div>

<h1>Endpoint: <%=@endpoint %></h1>

<h2>List [GET <%= @request_url %>/<%=@endpoint%>]</h2>

<%=@content.inspect%>

<h2>Modify [<span id="modify_url"></span><span id="modify_url_id"></span>]</h2>

<form id="modifier" method="POST" action="/demo/modify">
  <input type="hidden" name="endpoint" value="<%=@endpoint%>"/>

  <div>
    <label>
      <input type="radio" name="action" value="create" checked="checked"/>
      Create
    </label>
    <label>
      <input type="radio" name="action" value="update"/>
      Update
    </label>
    <label>
      <input type="radio" name="action" value="delete"/>
      Delete
    </label>
  </div>

  <label class="input_id">
    id:
    <input type="text" name="id" id="input_id" value=""/>
  </label>

  <% @inputs.each do |input| %>
  <div>
    <label class="<%= @readonly_inputs.include?(input) ? "readonly" : "inputs" %>">
      <%= input %>:
      <input type="text" name="<%=input%>" id="input_<%=input%>" value=""/>
    </label>
  </div>
  <% end %>
  <p><i>Hints: <%= @hint %></i></p>
  <button type="submit">Submit</button>
</form>

<p>
  <a href="/">Home</a>
</p>

<script>
  function update_url_id()
  {
    var url_id = $("#modify_url_id")
    if ($("input[name='action']:checked").val() == "create")
      url_id.html("")
    else {
      var id = $(".input_id input").val()
      if (id == "") id = "&lt;id&gt;"
      url_id.html(id)
    }
  }

  $(document).ready(function(){
    $("input[name='action']").change(function() {
      var checked = $("input[name='action']:checked").val()
      var input_id = $(".input_id")
      var inputs = $(".inputs")
      var readonly_inputs = $(".readonly")
      var url = $("#modify_url")
      if (checked == 'update') {
        input_id.show()
        readonly_inputs.hide();
        inputs.show()
        url.html("PUT <%=@request_url%>/<%=@endpoint%>/")
      } 
      else if (checked == 'create') {
        input_id.hide()
        readonly_inputs.show();
        inputs.show()
        url.html("POST <%=@request_url%>/<%=@endpoint%>")
      } 
      else if (checked == 'delete') {
        input_id.show()
        readonly_inputs.hide();
        inputs.hide()
        url.html("DELETE <%=@request_url%>/<%=@endpoint%>/")
      }
      update_url_id()
    }).change()
    $(".input_id input").keyup(update_url_id)
  })
</script>