<%= form_for(@bookmark) do |f| %>
  <% if @bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% @bookmark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :page %><br />
    <%= f.text_field :page %>
  </div>
  <div class="field">
    <%= f.label :sura %><br />
    <%= f.text_field :sura %>
  </div>
  <div class="field">
    <%= f.label :aya %><br />
    <%= f.text_field :aya %>
  </div>
  <div class="field">
    <%= f.label :default? %><br />
    <%= f.check_box :is_default %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
