<tr>
  <td><%= param %></td>
  <td><%= options["required"] || "No" %></td>
  <td><%= options["can_update"] || "Yes" %></td>
  <td><%= options["values"] || "Any" %></td>
  <td><%= options["description"] %></td>
</tr>
